
dexdis = new Dexdis()

mocha.setup 'bdd'

before (done) ->
	dexdis.select 1, done

beforeEach (done) ->
	dexdis.flushdb done

{{{tests}}}

expect = chai.expect

mocha.globals ['dexdis', 'expect', 'chai']
runner = mocha.run()
failed = []
runner.on 'fail', (test, err) ->
	failed.push
		title: test.title
		fullTitle: test.fullTitle()
		error:
			message: err.message
			stack: err.stack
runner.on 'end', ->
	runner.stats.failed = failed
	window.mochaResults = runner.stats
