extends layout

block content
	div.container
		ul
			each command in commands
				li.command
					div
						a.name(href='/commands/'+command.name+'.html')= command.name
						span.text-muted= ' ' + command.usage
					span= command.short_description 
