extends layout

block content
	div.container
		ul
			each command in commands
				li
					div
						a(href='/commands/'+command.name+'.html')= command.name 
						span= ' ' + command.usage
					span= command.short_description 
