extends layout

block content
	div.dimmed-content
		div.container
			ul.commands
				each command in commands
					li.command
						a(href='/commands/'+command.name+'.html')
							div
								span.name= command.name
								span.text-muted= ' ' + command.usage
							span.descr= command.short_description
