extends layout

block content
	div.jumbotron
		div.container
			block jumbotron
				div.col-sm-7
					h1 Dexdis
					p The simplest way to use IndexedDB in the browser.
					div.btn-group
						button.btn.btn-success(type='button') Try Now!
						button.btn.btn-primary(type='button') Learn More
				div.col-sm-5
					img.logo-big(src='dexdis-big.png')
	div.container
		div
			a(href='https://saucelabs.com/u/dexdis')
				img(src='https://saucelabs.com/browser-matrix/dexdis.svg', alt='Selenium Tests Status')
