extends layout

block content
	div.jumbotron
		div.container
			block jumbotron
				div.col-sm-7
					h1 Dexdis
					p The simplest way to use IndexedDB in the browser.
					div.btn-group
						a.btn.btn-success(href='#demo') Try Now!
						a.btn.btn-primary(href='/documentation.html') Learn More
				div.col-sm-5
					img.logo-big(src='dexdis-big.png', alt='Dexdis Logo')
	div.container
		!= page.html
		div.row
			div.col-xs-12
				h3#demo Live Demo
		div.row
			div.col-sm-6
				div.dexdisrepl(data-cmds=JSON.stringify(["set('test', 42)", "get('test')"]))
			div.col-sm-6
				| Use the console to the try out Dexdis commands. Try
				| to <b>SET</b> a value, <b>GET</b> that value. For a list of
				| available commands see the
				| <a href="/commands/">commands page</a>.
