extends layout

block content
	div.jumbotron
		div.container
			block jumbotron
				h1 Dexdis
				p Bla Bla
				div.btn-group
					button.btn.btn-success(type='button') Try Now!
					button.btn.btn-primary(type='button') Learn More
